/* .body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#login {
  text-align: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

#all-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#login-button {
  border-radius: 10%;
  width: 80%;
  font-weight: bold;
}

#register {
  text-align: center;
  color: green;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
} */
